{% extends 'base.html.twig' %}

{% block title %}User dashboard{% endblock %}

{% block body %}
    <h1>User dashboard</h1>
    <p>You are logged in as a user.</p>

    <form method="post" action="{{ path('app_logout') }}">
        <button type="submit">Log out</button>
    </form>
{% endblock %}
