{% extends 'base.html.twig' %}

{% block title %}{% block page_title %}DressMe{% endblock %}{% endblock %}

{% block body %}
    <main class="page-shell">
        {% block front_body %}{% endblock %}
    </main>
{% endblock %}
